
</main>

<!-- <button onclick="topFunction()" id="toTopBtn" title="Go to top">Top</button> -->
<button type="button" class="btn btn-info" onclick="topFunction()" id="toTopBtn" title="Go to top">Top</button>

<footer>
  <p id="footer"> Copyright © <%= new Date().getFullYear() %> </p>
</footer>

<script src="/main.js"></script>
</body>

</html>