<%-  include ("./partials/header.ejs") %>

<h1>You got this!</h1>
<img src="/images/Humaaans - Wireframe.png" alt="illustration running woman in front of to do list"> </img>

<%- include("./partials/footer.ejs") %>